:root{
    --fs-sm:16px;
    --fs-md:25px;
    --fs-lg:40px;
}

.fs{
    font-size: var();
}

/* color */
:root{
    --bg-blue:rgba(44, 73, 254);
    --bg-white:rgba(255,255,255);
    --bg-grey:rgba(77,77,77);
    --color-blue:rgba(44, 73, 254);
    --color-white:rgba(255, 255, 255);
    --color-grey:rgba(77,77,77);
}

/* font-size */
:root{
    --fs-20:20px;
    --fs-18:18px;
    --fs-16:16px;
    --fs-14:14px;
    --fs-12:12px;
}

@media (min-width:576px) {
 :root {
     --fs-sm: 16px;
     --fs-md: 25px;
     --fs-lg: 40px;
 }

.fs{
    font-size: var();
}
}

