:root{
    --fs-sm:16px;
    --fs-md:25px;
    --fs-lg:40px;
}

.fs{
    font-size: var();
}
@media (max-width:992px) {
 :root {
     --fs-sm: 16px;
     --fs-md: 25px;
     --fs-lg: 40px;
 }

 .fs{
     font-size: var(--fs-lg);
 }
}

@media (max-width:768px) {
    .fs {
        font-size: var(--fs-md);
    }
}