:root{
    --fs-sm:18px;
    --fs-md:30px;
    --fs-lg:64px;
}
.fs-md{
    font-size: var(--fs-md);
} 


/* color */
:root{
    --bg-blue:rgba(44, 73, 254);
    --bg-white:rgba(255,255,255);
    --bg-grey:rgba(77,77,77);
    --color-blue:rgba(44, 73, 254);
    --color-white:rgba(255, 255, 255);
    --color-grey:rgba(77,77,77);
}

/* font-size */
:root{
    --fs-20:20px;
    --fs-18:18px;
    --fs-16:16px;
    --fs-14:14px;
    --fs-12:12px;
}

@media (max-width:992px) {
 
    :root {
        --fs-md: 30px;
        --fs-lg: 48px;
    }
   .fs {
       font-size: var(--fs-md);
   }
}
@media (max-width:576px) {
    .fs{
        font-size: var(--fs-sm);
    }
}


