@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Yantramanav:wght@100;300;400;500;700;900&display=swap');

.Poppins {
    font-family: "Poppins";
}

.Yantramanav {
    font-family: "Yantramanav";
}

.pointer {
    cursor: pointer;
}

a {
    text-decoration: none !important;
}

.fs-14{
    font-size: 14px;
}

.mb-80 {
    margin-bottom: 80px;
}
.fw-700{
    font-weight: 700;
}
.fs-16{
    font-size: 18px;
}

.color-77{
    color: rgba(77, 77, 77);
}
.section-1 {
    background-image: url(../img/section1-img.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.pd-top-30 {
    padding-top: 30px !important;
}

.navbar-brand {
    color: rgba(44, 73, 254) !important;
    font-size: 36px !important;
    font-weight: 700;
    line-height: 48.6px;
}

.free {
    color: rgba(1, 200, 255);
}

.nav-item {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.nav-item a:hover {
    color: rgba(44, 73, 254) !important;
    background-color: unset !important;
}

.nav-btn {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    background-color: rgba(44, 73, 254);
    border: none;
    border-radius: 23px;
    padding: 10px 20px;
}

.nav-btn:hover {
    background-color: #fff;
    color: rgba(44, 73, 254) !important;
}

button[aria-expanded="false"] span.lines {
    display: block !important;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2833, 37, 41, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    width: 1.5rem;
    height: 1.5rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

button[aria-expanded="false"] span.cross {
    display: none !important;
    width: 1.5rem;
    height: 1.5rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    max-width: 1020px;
}

.content-box {
    max-width: 1044px;
}

.content-heading {
    font-size: 64px;
    font-weight: 700;
}

.blue-line {
    right: 150px !important;
    top: 54px !important;
}

.content-para {
    font-size: 20px;
    font-weight: 400;
    line-height: 25.94px;
    max-width: 765px;
}

.get-btn {
    background-color: rgba(44, 73, 254);
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    border-radius: 28px;
    padding: 11px 23px;
}

.para-link {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}

.blue-box {
    background: rgba(44, 73, 254, 0.74);
    border-radius: 150px;
    max-width: 900px;
    width: 100%;
    margin-top: 100px !important;
}

.svg-heading {
    font-size: 20px;
    font-weight: 500;
    line-height: 25.94px;
}

.svg-subheading {
    font-size: 14px;
    font-weight: 400;
    line-height: 18.16px;
}

.go-btn {
    background-color: #fff;
    color: rgba(44, 73, 254) !important;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    padding: 10px 20px;
    border-radius: 105px;
}

/* section-2 */

.section2-heading {
    font-size: 48px;
    font-weight: 700;
    line-height: 72px;
}

.section2-para {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(77, 77, 77);
}

.section2-box {
    max-width: 260px !important;
    color: rgba(45, 60, 174);
    border: 1px solid rgba(44, 73, 254);
    padding: 30px !important;
}

.section2-box:hover {
    background: rgba(44, 73, 254);
    color: #fff;
}

.down-box {
    margin-left: 120px;
}

.box-heading {
    font-size: 25px;
    font-weight: 500;
    line-height: 37.5px;
}

.circle {
    height: 79px;
    width: 79px;
    border-radius: 50%;
    border: 1px solid rgba(44, 73, 254);
    z-index: 2 !important;
    background-color: #fff !important;
}

.max-width-220 {
    max-width: 180px !important;
}

.circle-1 {
    left: 35%;
    top: -15%;
}

.circle-2,
.circle-3 {
    left: 32%;
    top: -15%;

}

/* section-3 */

.section-3 {
    background-image: url(../img/section3-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.section3-heading {
    font-size: 48px;
    font-weight: 700;
    line-height: 62.4px;
    max-width: 708px !important;
}

/* 
.section-3::before{
    content: "";
    position: absolute;
    top: 0px !important;
    height: 100%;
    width: 100%;
    background: rgba(44, 73, 254, 0.8);
} */

.body {
    background: rgba(44, 73, 254, 0.8);
}

.section3-para {
    max-width: 765px !important;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.section-3-box {
    max-width: 920px !important;
}

/* section-4 */
.section4-heading{
font-size: 48px;
font-weight: 700;
line-height: 65.52px;
}

.section4-para{
    max-width: 543px;
    color: rgba(77, 77, 77);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.section4-card-heading{
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
}
.section4-card-p{
    line-height: 24px;
}

.section-4 .card:hover{
box-shadow: 2px 9px 32px 0px rgba(0, 0, 0, 0.06);
} 

/* section-5 */

.section5-heading{
    font-size: 48px;
    font-weight: 700;
    line-height: 72px;
}

.form-heading{
    font-size: 35px;
    font-weight: 700;
    line-height: 52.5px;
}

.form-about{
     resize: none !important;
}

.section5-btn{
    background-color: rgba(44,73,254);
    border-radius: 30px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}

input{
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding: 10px 17px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.4)
}

.form-about{
        border-radius: 5px;
        border: 1px solid rgba(0, 0, 0, 0.4)
}

/* footer */
.footer-para{
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    max-width: 346px;
}

li {
list-style: none;
padding-bottom: 10px;
font-size: 12px;
font-weight: 400;
line-height: 18px;
}
li a{
    color: #fff;
}
/* media query */
@media (min-width:992px) {
    .nav-item {
        padding-right: 25px;
    }

}

@media (max-width:992px) {

    .blue-line {
        display: none !important;
    }

    .blue-box {
        border-radius: 0px !important;
    }

}

@media (max-width:576px) {
    .section2-box {
        padding: 20px !important;
    }

    .down-box {
        margin-left: 50px;
    }
}